venv
venv/*
downloaded_videos
.env*
client_secrets.json
*.pickle
/.idea/
.DS_Store
service_account.json
/*/__pycache_ls_/*
last_voice.json
cookies
cookies/*
files
files/*
test/video_publish_recording.mp4
core/log/media_uploader.db
core/__pycache__
platforms/__pycache__
test/
*.log
__pycache__
__pycache__/
test_youtube.py
platforms/bili/__pycache__/
platforms/douyin/__pycache__/
platforms/toutiao/__pycache__/
platforms/xhs/__pycache__/
.tranco/