venv
venv/*
downloaded_videos
.env*
client_secrets.json
*.pickle
/.idea/
.DS_Store
service_account.json
/*/__pycache_ls_/*
last_voice.json
cookies
cookies/*
files
files/*
test/video_publish_recording.mp4
.tranco
temp.py
xhs_uploader_backup.py
tmp